.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.app-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.main-container {
  position: relative;
  height: 100%;
}

.page-wrap {
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100% - 92px);
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px;
}

@media screen and (max-width: 1440px) {
  .page-wrap {
    padding-top: 50px;
  }
}

.f-container {
  width: 1200px;
  background-color: #fff;
  padding: 0;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1440px) {
  .f-container {
    width: 1000px;
  }
}

.text-center {
  text-align: center !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.register .logo {
  width: 52 px;
  height: 30px;
  margin-top: 80px;
}

.register .title {
  font-size: 30px;
  font-family: Open Sans, Helvetica Neue, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, Arial, sans-serif !important;
  margin-top: 30px;
  color: #707374;
  font-weight: 300;
}

.register .form {
  margin-top: 40px;
}

.register .form .child {
  width: 300px;
  margin: 0 auto;
}

.register .form .child .tab {
  line-height: 48px;
  height: 48px;
  cursor: pointer;
  color: #333;
}

.register .form .child .tab div {
  border-bottom: 1px solid #eee;
}

.register .form .child .tab .col-sm-6 {
  padding: 3px;
}

.register .form .child .tab .active {
  color: #44a8f2;
  border-bottom: 1px solid #44a8f2;
  background-color: #fff;
}

.register .form .child .row {
  margin: 0;
  width: 300px;
}

@media screen and (max-width: 1400px) {
  .register .logo {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1440px) {
  .register .form {
    margin-top: 0;
  }
}

.col-sm-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.text-center {
  text-align: center !important;
}

.d-input {
  width: 100%;
}

.register .form .email,
.register .form .password {
  width: 100%;
}

.md-input-container {
  width: 100%;
  height: 48px;
  margin: 20px 0 0;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.md-input-container label {
  position: absolute;
  top: 14px;
  left: 10px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: .3s;
  color: #979797;
  font-size: 14px;
  line-height: 20px;
}
